{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>lab5</title>

  <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <div class="container">

        <a class="block-link block-1" href="https://www.qu.edu.sa" target="_blank" >Go to QU website (open a new tab)</a>
        <a class="block-link block-2" href="https://www.qu.edu.sa">Go to QU website (same tab)</a>
        <a class="block-link block-3" href="https://www.qu.edu.sa">Go to QU website (same tab)</a>
 
    </div>
</body>
</html>
